/* styles.css */
.search-wrapper {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  
  .search-icon {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .search-input.active {
    opacity: 1;
    visibility: visible;
  }
  